<header class="header">
	<div class="title">
		<a title="bradypod's blog" href="/">BradyPod's blog</a>
	</div>
	<ul class="nav navbar-nav navbar-right visible-lg visible-md">
		<li>
		<form id="search-form" class="form-group has-success visible-lg" role="form">
	        <input type="text" class="form-control input-sm" placeholder="Search" id="query" style="width: 110px;">
	    </form>
	    </li>
	    <li><a href="https://github.com/JumperYu" title="我的github主页"><i class="icon-github"></i> github</a></li>
	    <li><a href="http://weibo.com/javaserverfaces/home?wvr=5" title="我的微博主页"><i class="icon-pinterest-sign"></i> weibo</a></li>
	    <li><a href="index.html" title="联系我"><i class="icon-phone"></i> telphone</a></li>
	</ul>
</header>