<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="树懒博客CMS">
<meta name="author" content="树懒博客CMS">
<!-- <meta http-equiv="Access-Control-Allow-Origin" content="*"> -->
<link rel="icon" href="http://blog.bradypod.com/favicon.ico">
<title>树懒</title>
<!-- Bootstrap core CSS -->
<link href="${RESOURCE_ROOT_PATH}/css/bootstrap.min.css" rel="stylesheet">
<link href="${RESOURCE_ROOT_PATH}/css/bootstrap-reset.css"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="${RESOURCE_ROOT_PATH}/css/gallery.css" />	
<!--external css-->
<link
	href="${RESOURCE_ROOT_PATH}/assets/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="${RESOURCE_ROOT_PATH}/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />	
<!-- Custom styles for this template -->
<link href="${RESOURCE_ROOT_PATH}/css/style.css" rel="stylesheet">
<link href="${RESOURCE_ROOT_PATH}/css/style-responsive.css" rel="stylesheet" />
<link href="${RESOURCE_ROOT_PATH}/assets/uploadify/uploadify.css" rel="stylesheet" />
<link href="${RESOURCE_ROOT_PATH}/assets/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<style type="text/css">
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    padding-left: 0;
}

.howto, .nonessential, #edit-slug-box, .form-input-tip, .subsubsub {
    color: #666666;
}

.subsubsub {
    float: left;
    font-size: 12px;
    list-style: none outside none;
    margin: 8px 0 5px;
    padding: 0;
}

.form-group{
	width:100%;
}

.count{
	position:absolute ;
	right:0px;
}

.arrticle_status{
	float:left;
}
</style>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lt IE 9]>
      <script src="${RESOURCE_ROOT_PATH}/js/html5shiv.js"></script>
      <script src="${RESOURCE_ROOT_PATH}/js/respond.min.js"></script>
    <![endif]-->
<script src="${RESOURCE_ROOT_PATH}/js/jquery-1.10.2.js"></script>