<!--sidebar start-->
<aside>
	<div id="sidebar" class="nav-collapse ">
		<!-- sidebar menu goes here-->
		<ul class="sidebar-menu" id="nav-accordion">
			<li class="">
				<a class="active" href="/article/list.html"> <i class="icon-book"></i> <span>文章列表</span></a>
			</li>
			<!-- <li class="sub-menu">
				<a class="" href="#"> <i class="icon-desktop"></i> <span>首页头条</span></a>
			</li>
			<li class="">
				<a href="#"> <i class="icon-folder-open"></i> <span>目录列表</span></a>
			</li>	
			<li class="">
				<a class="" href="#"> <i class="icon-comments"></i> <span>留言列表</span></a>
			</li>
			<li class="">
				<a class="" href="#"> <i class="icon-user"></i> <span>管理员管理</span></a>
			</li>
			<li class="">
				<a class="" href=#"> <i class="icon-cogs"></i> <span>修改密码</span></a>
			</li> -->
			<li class="">
				<a target="_blank" href="http://rj.baidu.com/soft/detail/14744.htmlz"><span>推荐Google浏览器</span></a>
			</li>
		</ul>
	</div>
</aside>
<!--sidebar end-->	