<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jdbc 
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入 -->
	<context:annotation-config />
	<context:component-scan base-package="com.yu" />

	<mvc:annotation-driven
		content-negotiation-manager="contentNegotiationManager">
		<mvc:message-converters register-defaults="true">
			<!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
				<property name="writeAcceptCharset" value="false" />
			</bean>
			<!-- 将Jackson2HttpMessageConverter的默认格式化输出设为true -->
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="prettyPrint" value="true" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:resources mapping="/static/**" location="/WEB-INF/views/" />

	<!-- REST中根据URL后缀自动判定Content-Type及相应的View -->
	<bean id="contentNegotiationManager"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="mediaTypes">
			<value>
				json=application/json
				xml=application/xml
				html=text/html
			</value>
		</property>
	</bean>

	<!-- 定义JSP文件的位置 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".html" />
	</bean>

	<!-- 定义FreeMarker的配置 -->
	<!-- <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer"> 
		<property name="templateLoaderPath" value="/WEB-INF/views/" /> <property 
		name="defaultEncoding" value="UTF-8" /> <property name="freemarkerSettings"> 
		<props> <prop key="template_update_delay">10</prop> <prop key="defaultEncoding">UTF-8</prop> 
		<prop key="url_escaping_charset">UTF-8</prop> <prop key="locale">zh_CN</prop> 
		<prop key="boolean_format">true,false</prop> <prop key="time_format">HH:mm:ss</prop> 
		<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop> <prop key="date_format">yyyy-MM-dd</prop> 
		<prop key="number_format">#.##</prop> <prop key="whitespace_stripping">true</prop> 
		</props> </property> </bean> -->
	<!-- FreeMarker的视图 -->
	<!-- <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"> 
		<property name="cache" value="false" /> <property name="prefix" value="" 
		/> <property name="suffix" value=".ftl" /> <property name="contentType" value="text/html;charset=utf-8" 
		/> <property name="exposeRequestAttributes" value="true" /> <property name="exposeSessionAttributes" 
		value="true" /> <property name="exposeSpringMacroHelpers" value="true" /> 
		</bean> -->

	<!-- 定义可上传视图 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="20000000" />
	</bean>

	<!-- **************** 拦截器 ************************** -->
	<bean id="authInterceptor" class="com.yu.filter.AuthInterceptor">
		<!-- <property name="loginUrl" value="/index.html" /> <property name="errorUrl" 
			value="/404.html" /> -->
		<property name="excludeUrls">
			<list>
				<!-- 暴露的url -->
				<value>/index.html</value>
				<value>/login.html</value>
				<value>/auth/login.do</value>
			</list>
		</property>
	</bean>

	<!-- 拦截器：权限 -->
	<mvc:interceptors>
		<!-- author chenjianhong 耗时拦截器, 拦截所有请求(直接定义在mvc:interceptors下) -->
		<bean class="com.yu.filter.TimeConsumingInterceptor" />

		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<ref bean="authInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 全注解方式集成事物 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 重写properties文件的加载 -->
	<bean class="com.yu.utils.MyPropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations" value="classpath*:config/props/global.properties" />
	</bean>

	<!-- 数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.class}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.user}" />
		<property name="password" value="${db.identity}" />
	</bean>

	<!-- JNDI数据源 -->
	<!-- <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> 
		<property name="jndiName"> <value>java:comp/env/jdbc/cphoto</value> </property> 
		</bean> -->

	<!-- ORM 框架 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<!-- <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"> 
		<property name="entityManagerFactory" ref="entityManagerFactory" /> </bean> -->

	<!-- 事物 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 定义事务通知 <tx:advice id="txAdvice" transaction-manager="transactionManager"> 
		<tx:attributes> <tx:method name="*" propagation="REQUIRED"/> <tx:method name="login" 
		read-only="true" /> </tx:attributes> </tx:advice> -->
	<!-- 定义AOP配置 <aop:config> <aop:pointcut expression="execution (* com.cp.user.service.*.*(..))" 
		id="service" /> <aop:advisor advice-ref="txAdvice" pointcut-ref="service" 
		/> </aop:config> -->
</beans>